<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1044174354394-j4oprb5ses4iimlhl7ekbp3hnm08j6rr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1044174354394-j4oprb5ses4iimlhl7ekbp3hnm08j6rr</string>
	<key>API_KEY</key>
	<string>AIzaSyC1vz1sI5UFKpl4Ui-sHsVhpeUxhnD_Es0</string>
	<key>GCM_SENDER_ID</key>
	<string>1044174354394</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.style.styleBook</string>
	<key>PROJECT_ID</key>
	<string>stylebook-58162</string>
	<key>STORAGE_BUCKET</key>
	<string>stylebook-58162.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1044174354394:ios:1c183d587c6a4c773c72e3</string>
</dict>
</plist>